[Unit]
Description=Camera Daemon
After=network.target

[Service]
WorkingDirectory=/home/dummy/r0b0/
ExecStart=/usr/bin/python3 -u start.py mpi
StandardOutput=inherit
StandardError=inherit
User=dummy
Restart=always

[Install]
WantedBy=multi-user.target
