<!DOCTYPE html>
<html>
<head>
    <title>File Input Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>
    <h1>File Example</h1>
    
    <form>
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file">
        <button type="submit">Upload</button>
    </form>
    <!-- <canvas id="canvas" width="400" height="300"></canvas> -->
    <script src="/static/js/index.js"></script>
</body>
</html>