/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 0px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  vertical-align: middle;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  /* top: 0; */
  left: 0;
  right: 0;
  /* bottom: 0; */
  bottom: -25%;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  /* vertical-align: middle; */
  margin: 0;
  top: 25%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  /* border-radius: 34px; */
  border-radius: 14px;
  /* height:10px; */
  vertical-align: middle;
}

.slider.round:before {
  vertical-align: middle;
  border-radius: 50%;
}

.recButton {
  width: 50px;
  height: 50px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 50%;
  margin: 0px;
  outline: none;
}

.notRec{
  background-color: darkred;
}

.Rec{
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse{
  0%{
    box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
  }
  65%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
  }
  90%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
  }
}

h1 {
  display: flex;
  justify-content: space-between;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight:normal;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #ffbf00;
}
.red {
    background-color: #f00;
    width: 200px;
    height: 150px;
    margin: 5px auto;
}
.blue { 
    background-color: #0f0;
    width: 200px;
    height: 150px;
    margin: 5px auto;
}
.green {
    background-color: #00f;
    width: 200px;
    height: 150px;
    margin: 5px auto;
}

div {
  display: flex;
  justify-content: space-between;
}

<style>
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  /*position: absolute;*/
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1.0;  /* for demo purpose  */
}
.stack-top{
    z-index: 9;
    /*margin: 20px;  for demo purpose  */
}
</style>

#popup {
    width:160px;
    height:80px;
    padding:20px;
    background-color:gray;    
    position:absolute;
    top:100px;
    left:100px;
    display:none;
}

.block {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /*background-position: right .7em top 50%, 0 0;*/
  /*background-size: .65em auto, 100%;*/
}


{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}

.controlBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150%;
  margin: auto;
  background-color: black;
  opacity: 0.8;
  padding-top:5%;
  padding-bottom:5%;
}

.element {
  /* height: 100px; You can adjust this as per your requirement */
  /* background-color: lightblue; */
  border-radius: 10px;
  /* padding: 1em; */
  font-size: smaller;
  color: white;
  min-width: 30%;
  /* max-height: 80%; */
  vertical-align: middle;
  /* margin-right: 5px; */
  box-sizing: border-box;
  display: flex; 
  justify-content: center;
  /* position:absolute; */
  top: 50%;
}



.rowContainer {
  /* width: 100%; */
  position: absolute;
  bottom: 0;
}

.row {
  width: 100%;
  position: relative
}

body {
  margin: 0; /* Because annoying default browser margins */
  height:50%;
}
video {
    position: absolute;
    /*position: relative;*/
    transform: rotate(90deg);
    transform-origin: bottom left;
/*    width: 100%;
    height: 100%;*/
    width: 100vh;
    height: 100vw;
    margin-top: -100vw;
    object-fit: cover;
    z-index: -4;
    /* z-index: 4; */
    visibility: visible;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    display: inline-block;
    width: 100%;
    text-align: justify;
}