# /etc/systemd/system/r0b0-docker.service
[Unit]
Description=Start r0b0 Docker container at boot
After=network.target

[Service]
WorkingDirectory=/home/dummy/r0b0
ExecStart=/usr/bin/make docker-run
StandardOutput=inherit
StandardError=inherit
User=dummy

[Install]
WantedBy=multi-user.target
