<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Slider</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>

    <style>
      .slider {
        width: 60%;
        margin: 20px auto;
        overflow: hidden;
      }
      .slider img {
        transition: transform 0.5s ease;
      }
    </style>
  </head>
  <body>
    <script>
      let socketAddr = window.location.origin;
      // Connect to the Socket.IO server
      const socket = io.connect(socketAddr); // Replace with your server address
      // Function to update the display text based on slider position
      function updateSliderDisplay(idx) {
        let currentValue = this.value;
        let max = this.max;

        let id = this.id.replace("slider", "");
        document.getElementById(
          `slider-value${id}`
        ).innerText = `Motor ${id}: ${currentValue} / ${max}`;
        socket.emit("slider_event", { id: id, value: this.value });
        console.log(id, currentValue);
      }
      let sliderName = "";
      let slider = undefined;
      let sliders = [];

      // Create the slider element
      for (let i = 1; i < 5; i++) {
        // sliderName = `input${i}`;
        let sliderName = "input";
        // let sliderName = ;
        let slider = document.createElement(sliderName);
        slider.id = `slider${i}`;
        slider.type = "range";
        slider.min = 90; // Minimum value
        slider.max = 170; // Maximum value
        slider.value = 130; // Initial value
        let sliderValue = document.createElement("p");
        sliderValue.id = `slider-value${i}`;
        sliderValue.innerText = `Motor ${i}: 130/170`;

        // Attach event listener to update display on slider change
        slider.addEventListener(sliderName, updateSliderDisplay);

        // Append the slider to the document body
        sliders.push(slider);
        document.body.appendChild(slider);
        document.body.appendChild(sliderValue);
      }
    </script>
    <br />
    <button id="reset-sliders">Reset to calibration position</button>
    <script>
      document.getElementById("reset-sliders").onclick = function () {
        sliders.forEach((slider) => {
          slider.value = 130;
          slider.dispatchEvent(new Event("input"));
        });
      };
    </script>
  </body>
</html>
