aiohttp==3.8.3
Flask==2.2.2
Flask-Cors==3.0.10
Flask-SocketIO==5.3.2
numpy==1.24.0
PyYAML==6.0.1
pygame==2.4.0
python-socketio==5.8.0
urllib3==1.26.13
Werkzeug==2.3.6
python-engineio==4.3.4
requests==2.31.0
eventlet==0.34.2
websocket-client==1.6.1
